<p id="notice"><%= notice %></p>

<h1 class="text-center mb-5">Books</h1>


<div class="container">

<table class = "table">
  <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th>Price</th>
        <th>Loan date</th>
        <th>Return date</th>
        <th colspan="4"></th>
    </tr>
  </thead>

  <tbody id="my_books">
      <%= render('books/books') %>
  </tbody>
</table>

  <br>
  <%= link_to 'New Book', new_book_path, remote: true , class: "btn btn-primary"%>

  <div id="myForm" class = "my-5"></div>

  <div id="showData"></div>
</div>


